@model (List<Student>, List<Client>, Dictionary<string, object>)
@{
    int i = 0;
    int y = 0;
}

<section id="chats">
    <div class="container">
        <div class="row">
            <partial name="~/Views/Partials/BodyPartials/_RulesPartial.cshtml" />
            <div class="col-md-6 row-item-col">
                <div class="section-tabs">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="stud-tab" data-toggle="tab" href="#stud" role="tab" aria-controls="stud" aria-selected="true">Активные студенты</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="client-tab" data-toggle="tab" href="#client" role="tab" aria-controls="client" aria-selected="false">Активные клиенты</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content clearfix">
                        <div class="tab-pane fade show active" id="stud" role="tabpanel" aria-labelledby="stud-tab">
                            <div class="accordion" id="accordionStudent">
                                <div class="placeholder">Суденты, доступные онлайн, отсутствуют.</div>
                                @foreach (Student student in Model.Item1)
                                {
                                    { i++; }
                                    <div class="card">
                                        <div class="card-header" id="headingStud_@i">
                                            <p class="tab-collapse clearfix">
                                                @if (((bool)User?.Identity?.IsAuthenticated))
                                                {
                                                    if ((bool)Model.Item3["IsStudent"])
                                                    {
                                                        <span class="connect"><a class="preventRoleClient" asp-controller="Chat" asp-action="Index">Подключиться</a></span>
                                                    }
                                                    else if ((bool)Model.Item3["IsClient"])
                                                    {
                                                        <span class="connect"><a asp-controller="Chat" asp-action="Index" asp-route-idUser="@student.StudentId" asp-route-role="client">Подключиться</a></span>
                                                    }
                                                }
                                                else
                                                {
                                                    <span class="connect"><a class="preventRole" asp-controller="Chat" asp-action="Index">Подключиться</a></span>
                                                }
                                                <a role="button" class="collapse-link" data-toggle="collapse" data-target="#collapseStudent_@i" aria-expanded="false" aria-controls="collapseStudent_@i">
                                                    @student.FamilyName @student.FirstName
                                                </a>
                                                <span class="float-right collapses-state"><i class="fa fa-plus-circle"></i></span>
                                            </p>
                                        </div>
                                        <div id="collapseStudent_@i" class="collapse" aria-labelledby="headingStud_@i" data-parent="#accordionStudent">
                                            <div class="card-body">
                                                @student.Summary
                                            </div>
                                        </div>
                                    </div>
                                }                                
                            </div>
                        </div>

                        <div class="tab-pane" id="client" role="tabpanel" aria-labelledby="client-tab">
                            <div class="accordion" id="accordionClient">
                                <div class="placeholder">Клиенты, доступные онлайн, отсутствуют.</div>
                                @foreach (Client client in Model.Item2)
                                {
                                    { y++; }
                                    <div class="card">
                                        <div class="card-header" id="headingClient_@y">
                                            <p class="tab-collapse clearfix">
                                                @if (((bool)User?.Identity?.IsAuthenticated))
                                                {
                                                    if ((bool)Model.Item3["IsClient"])
                                                    {
                                                        <span class="connect"><a class="preventRoleStudent" asp-controller="Chat" asp-action="Index">Подключиться</a></span>
                                                    }
                                                    else if ((bool)Model.Item3["IsStudent"])
                                                    {
                                                        <span class="connect"><a asp-controller="Chat" asp-action="Index" asp-route-idUser="@client.ClientId" asp-route-role="student">Подключиться</a></span>
                                                    }
                                                }
                                                else
                                                {
                                                    <span class="connect"><a class="preventRole" asp-controller="Chat" asp-action="Index">Подключиться</a></span>
                                                }
                                                <a role="button" class="collapse-link" data-toggle="collapse" data-target="#collapseClient_@y" aria-expanded="false" aria-controls="collapseClient_@y">
                                                    @client.FamilyName @client.FirstName
                                                </a>
                                                <span class="float-right collapses-state"><i class="fa fa-plus-circle"></i></span>
                                            </p>
                                        </div>

                                        <div id="collapseClient_@y" class="collapse" aria-labelledby="headingClient_@y" data-parent="#accordionClient">
                                            <div class="card-body">
                                                @client.Address
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>