@model IEnumerable<Student>

<div class="row students text-center">
    @foreach (Student s in @Model)
    {
        <div class="col-sm-3">
            <div class="item row-item-col">
                <div>
                    <img img-action="GetAvatar" img-controller="Image" img-id="@s.StudentId" alt="" class="front rounded-circle" data-toggle="modal" data-target="#@s.FamilyName" />
                    <span class="back"><i class="fas fa-balance-scale"></i></span>
                    <h3>@s.FirstName @s.FamilyName</h3>
                    <!-- Modal -->
                    <div class="modal fade" id="@s.FamilyName">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">@s.FirstName @s.FamilyName</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    @s.Summary
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p>@s.UniversityName</p>
            </div>
        </div>
    }
</div>